#notificationHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#notificationBody {
  margin-top: 10px;
  text-align: center;
}

#imageContainer {
  display: flex;
  align-items: center;
  height: 100px;
  object-fit: contain;
}


body {
  margin: 0;
 
 
 /* background-color: 'red'; */


  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.leaflet-popup-content-wrapper {
  background: #ffffff !important;
  color: #000000 !important;
}

.leaflet-popup-content {
  color: #000000 !important;
}

.leaflet-popup-tip {
  background: #ffffff !important;
}

/* Force all inner elements */
.leaflet-popup-content * {
  color: #000000 !important;
}